::-webkit-scrollbar {
    display: none;
}

.Wrapper {
    height: auto;
    width: auto;
    overflow: hidden;

    .TopBar {
        width: 100%;
        max-height: 61px;
        display: flex;
        background-color: #000000;
        position: fixed;
        color: var(--pink-red);
        justify-content: space-between;
        top: 0;
        left: 0;
        z-index: 4;

        .Runaway {
            margin: 14px 107px;
            width: 134px;
            height: 31px;
            justify-content: center;

            font-family: 'Arial';
            font-style: italic;
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05em;
        }

        .TopContainer {
            display: flex;
            padding: 0px 107px;

            .Email {
                margin-top: 15px;
                width: 226px;
                height: 31px;
                margin-right: 20px;

                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 23px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                letter-spacing: 0.05em;

                color: var(--pink-red);

                transition: all 300ms ease;

                &:hover {
                    color: var(--light-pink);
                }
            }

            .GitWrap {
                width: 69px;
                height: 61px;
                // display: flex;
                display: block;
                align-items: center;
                justify-content: center;
                background: url("/public/githubIcon.svg") no-repeat;

                .GitIcon {
                    height: 23px;
                    cursor: pointer;
                    transition: all 500ms ease;
                }
            }
        }
    }

    .HeaderNoise {
        width: 100%;
        pointer-events: none;
    }

    .AllNoise {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        pointer-events: none;
        z-index: 2;
    }

    .Hello {
        position: absolute;
        width: 1226px;
        height: 75px;
        left: 107px;
        top: 199px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        line-height: 75px;

        display: flex;
        align-items: center;
        letter-spacing: 0.05em;

        color: transparent;
        -webkit-text-stroke-color: var(--pink-red);
        -webkit-text-stroke-width: 1px;
        z-index: 3;
    }

    .HelloTitle {
        position: absolute;
        height: 75px;
        left: 400px;
        top: 199px;

        font-family: 'Arial';
        font-style: italic;
        font-weight: 700;
        font-size: 65px;
        line-height: 75px;

        display: flex;
        align-items: center;
        letter-spacing: 0.05em;

        color: var(--pink-red);
        z-index: 3;
    }

    .DescriptionTitle {
        position: absolute;
        width: 422px;
        height: 68px;
        left: 107px;
        top: 332px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;

        color: var(--light-pink);
        z-index: 3;
    }

    .Stars1 {
        // justify-content: space-between;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(14, 105px);
        margin: 147px 24.5px 67.5px 24.5px;

        .Star1 {
            position: relative;
        }
    }

    .Stars2 {
        // justify-content: space-between;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(14, 105px);
        margin: 0px 12px 42.5px 12px;

        .Star2 {
            position: relative;
        }
    }

    .Stars3 {
        // justify-content: space-between;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(14, 105px);
        margin: 0px -0.5px 17.5px -0.5px;

        .Star3 {
            position: relative;
        }
    }

    .Stars4 {
        // justify-content: space-between;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(14, 105px);
        margin: 0px -13px -20px -13px;

        .Star4 {
            position: relative;
            z-index: 1;
        }
    }

    .Stars5 {
        // justify-content: space-between;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(14, 105px);
        margin: 0px -15px -70px -15px;
        object-fit: cover;
        height: 151px;

        .Star5 {
            width: 105px;
            height: 151px;
            object-fit: cover;
            position: relative;
        }

        // .Margin5 {
        //     position: relative;
        //     transition: all 300ms ease;
        //     margin-left: -45px;
        // }
    }

    .Stars6 {
        // justify-content: space-between;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(14, 105px);
        margin: 0px -15px;
        overflow: hidden;

        .Star6 {
            width: 105px;
            height: 200px;
            object-fit: cover;
            position: relative;
        }

        // .Margin6 {
        //     background-color: aliceblue;
        //     background: transparent;
        //     position: relative;
        //     transition: all 300ms ease;
        //     margin-left: -95px;
        // }
    }

    .Hover {
        position: relative;
        transition: all 500ms ease;

        &:hover {
            transform: scale(2);
        }
    }


    .Bottom {
        background-color: var(--pink-red);
        width: 100%;
        margin-top: -100px;

        .SkillsWrapper {
            padding-left: 107px;
            padding-top: 100px;
            z-index: 3;
            position: relative;

            .SkillsTitle {
                width: 154px;
                height: 57px;

                font-family: 'Arial';
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 57px;
                display: flex;
                align-items: center;
                letter-spacing: 0.05em;

                color: var(--light-pink);
            }

            .FirstRow {
                display: flex;
                padding-top: 40px;
                width: 756px;

                .HTML5Box {
                    display: flex;
                    width: 197px;
                    height: 80px;
                    align-items: center;

                    .HTML5Title {
                        width: 102px;
                        height: 31px;
                        padding-left: 15px;

                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 31px;

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.05em;

                        color: #000000;
                    }
                }

                .CSS3Box {
                    display: flex;
                    padding-left: 110px;
                    width: 179px;
                    height: 80px;
                    align-items: center;

                    .CSS3Title {
                        width: 84px;
                        height: 31px;
                        padding-left: 15px;

                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 31px;

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.05em;

                        color: #000000;
                    }
                }

                .SassBox {
                    display: flex;
                    padding-left: 220px;
                    width: 160px;
                    height: 80px;
                    align-items: center;

                    .SassTitle {
                        width: 65px;
                        height: 31px;
                        padding-left: 25px;

                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 31px;

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.05em;

                        color: #000000;
                    }
                }
            }

            .SecRow {
                display: flex;
                padding-top: 60px;
                width: 756px;

                .TSBox {
                    display: flex;
                    width: 235px;
                    height: 80px;
                    align-items: center;

                    .TSTitle {
                        width: 140px;
                        height: 31px;
                        padding-left: 15px;

                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 31px;

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.05em;

                        color: #000000;
                    }
                }

                .ReactBox {
                    display: flex;
                    padding-left: 67px;
                    width: 171px;
                    height: 80px;
                    align-items: center;

                    .ReactTitle {
                        width: 76px;
                        height: 31px;
                        padding-left: 15px;

                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 31px;

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.05em;

                        color: #000000;
                    }
                }

                .WPBox {
                    display: flex;
                    padding-left: 135px;
                    width: 216px;
                    height: 80px;
                    align-items: center;

                    .WPTitle {
                        width: 121px;
                        height: 31px;
                        padding-left: 15px;

                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 31px;

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.05em;

                        color: #000000;
                    }
                }
            }

            .Border {
                padding-top: 40px;
            }

            .ThirdRow {
                display: flex;
                padding-top: 40px;
                width: 517px;
                height: 80px;

                .AiBox {
                    display: flex;
                    width: 320px;
                    height: 80px;
                    align-items: center;

                    .AiTitle {
                        width: 220px;
                        height: 31px;
                        margin-left: 15px;

                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 31px;

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.05em;

                        color: #000000;
                    }
                }

                .FigmaBox {
                    display: flex;
                    padding-left: 23px;
                    width: 176px;
                    height: 80px;
                    align-items: center;

                    .FigmaTitle {
                        width: 81px;
                        height: 31px;
                        padding-left: 15px;

                        font-family: 'Arial';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 31px;

                        display: flex;
                        align-items: center;
                        letter-spacing: 0.05em;

                        color: #000000;
                    }
                }
            }
        }

        .Learn {
            // width: 379px;
            height: 195px;
            padding-top: 106px;
            padding-left: 91px;
            z-index: 3;
            position: relative;

            .LearnTitle {
                width: 400px;
                margin-bottom: 30px;

                font-family: 'Arial';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 46px;

                display: flex;
                align-items: center;
                letter-spacing: 0.05em;

                color: var(--light-pink);
            }

            .LearnRow {
                height: 33px;
                margin-bottom: 25px;
                display: flex;
                align-items: center;

                .StarBlack {
                    height: 30px;
                }

                .RowTitle {
                    text-decoration: none;
                    height: 46px;
                    margin-left: 18px;

                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 33px;
                    line-height: 46px;

                    display: inline-block;
                    position: relative;
                    align-items: center;
                    letter-spacing: 0.05em;

                    color: #000000;
                }

                .RowTitle::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    background-color: var(--light-pink);
                    transition: width 300ms ease-out;
                }

                .RowTitle:hover::before {
                    width: 100%;
                }
            }
        }

        .BigStarBlack {
            position: relative;
            margin-top: -278px;
            margin-left: 1008px;
            height: 788px;
            transition: all 800ms ease;

            &:hover {
                transform: scale(1.2) translateX(-35px);
            }
        }

        .ExpWrapper {
            // position: absolute;
            position: relative;
            width: 1028px;
            height: 287px;
            z-index: 3;
            margin-left: 107px;
            margin-top: -334px;

            .ExpTitle {
                width: 290px;
                height: 57px;

                font-family: 'Arial';
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 57px;
                display: flex;
                align-items: center;
                letter-spacing: 0.05em;

                color: var(--light-pink);
            }

            .ExpRow {
                display: flex;
                align-items: center;
                margin-top: 40px;

                .StarWhite {
                    height: 30px;
                }

                .Exph1 {
                    margin-left: 18px;
                    height: 40px;
                    left: 165px;
                    top: 1905px;

                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 40px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.05em;

                    color: var(--light-pink);
                }
            }

            .ExpText {
                margin-top: 10px;
                width: 1028px;
                height: 124px;

                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 27px;
                line-height: 31px;
                display: inline-block;
                align-items: center;
                letter-spacing: 0.05em;
                color: #000000;

                .VibeLab {
                    color: var(--light-pink);
                    position: relative;
                    margin-left: 0.35em;
                }

                .VibeLab::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    background-color: var(--light-pink);
                    transition: width 300ms ease-out;
                }

                .VibeLab:hover::before {
                    width: 100%;
                }
            }
        }

        .Copyright {
            position: relative;
            z-index: 3;
            margin-top: 161px;
            margin-left: 465px;
            z-index: 3;
            width: 513px;
            height: 22px;
            padding-bottom: 40px;

            font-family: 'Arial';
            font-style: normal;
            font-weight: 700;
            font-size: 19px;
            line-height: 22px;

            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.05em;

            color: var(--light-pink);
        }
    }

    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}